<aside class="promo" ng-if="!showTour || !inApp">
  <h2 style="text-align: center">Take the tour with you</h2>

  <p>Get more from your visit with this insightful 13-stop exhibition audio guide. The tour is in numerical order, but you can listen to the stops in any order. Many of the works have more than one audio stop that provides additional layers of information.</p>
  <p>The Audacious Eye presents more than 100 highlights of the legendary Clark Collections of Japanese art, recently acquired by the MIA.</p>
  <p>This tour is available both for rental on a handheld device and via $1.99 in-app purchase on iOS and Android.</p>
  <p id="call-to-action"><a class="btn mia-blue rounded" ng-href="{{tourLink}}">Launch Tour</a></p>
  <restore-purchases></restore-purchases>
</aside>

